$runner: 'img/runner.png';
$runner_width: image-width($runner);
$runner_height: image-height($runner);

.main-hed {
	display: none;
}

#gf {

	color: #333;

	> * {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}

	.detail {
		text-align: center;
		@include rhythm(0, 0, 0, 0);

		span {
			font-family: $sansSerifStrong;
			@include adjust-font-size-to(18px);

			&.runner {
				background-image: inline-image($runner);
				background-size: 100%;
				display: inline-block;
				background-repeat: no-repeat;
				width: 1.25em;
				height: 1.25em*$runner_height/$runner_width;
				vertical-align: text-bottom;
				margin-left: 0.4em;
				margin-right: 0.2em;

			}
		}

		&:after {
			content: '';
			@include trailing-border();
			@include padding-trailer(0.25);
			margin-left: auto;
			margin-right: auto;
			width: 11em;
			display: block;
			border-color: #999;
		}
	}

	.title {
		font-family: $serifStrong;
		text-align: center;
		font-size: 4em;
		@include rhythm(0.56, 0, 0.05, 0);
	}

	.intro {
		@include adjust-font-size-to(22px);
		@include adjust-leading-to(1.1);
		@include rhythm(0, 0, 0.4, 0);
	}

	button {
		display: block;
		background: rgb(230, 230, 230);
		font-family: $sansSerif;
		@include adjust-font-size-to(16px);
		@include adjust-leading-to(1.5);
		text-transform: uppercase;
		color: #999;
		font-weight: 100;
		padding-left: 4em; 
		padding-right: 4em;
		letter-spacing: 2px;
	}

	.story {
		@include leading-border();
		border-color: #ccc;
		color: #999;
		@include rhythm(2, 2, 0, 0);

		.image {
			@include rhythm(0, 0, 0.5, 0);
		}

		.details {

			> p {
				@include rhythm(0, 0, 0, 0);
			}

			.name {
				font-weight: bold;
				@include adjust-font-size-to(16px);
				text-transform: uppercase;
			}
		}
	}
}













