$runner: 'img/runner.png';
$runner_width: image-width($runner);
$runner_height: image-height($runner);

$facebook: 'img/facebook.png';
$facebook_width: image-width($facebook);
$facebook_height: image-height($facebook);

$twitter: 'img/twitter.png';
$twitter_width: image-width($twitter);
$twitter_height: image-height($twitter);

.main-hed {
	display: none;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

button {
	cursor: pointer;
}

%centerColumn {
	max-width: 650px;
	margin-left: 10px;
	margin-right: 10px;

	@include breakpoint(680px) {
		margin-left: auto;
		margin-right: auto;
	}
}

#gf {

	p {
		margin: 0;
		padding: 0;
	}

	.hidden {
		display: none;
	}

	color: #333;

	h2 {
		text-align: center;
		@include rhythm(0, 0, 0, 0);
		font-weight: normal;
		@include adjust-font-size-to(18px);

		.runner {
			background-image: inline-image($runner);
			background-size: 100%;
			display: inline-block;
			background-repeat: no-repeat;
			width: 1.25em;
			height: 1.25em*$runner_height/$runner_width;
			vertical-align: text-bottom;
			margin-left: 0.4em;
			margin-right: 0.2em;
		}

		&:after {
			content: '';
			@include trailing-border();
			border-width: 1px;
			margin-left: auto;
			margin-right: auto;
			width: 11em;
			display: block;
			border-color: #999;
			@include rhythm(0, 0, 1/4, 0);
		}

	}

	h1 {
		font-family: $serifStrong;
		font-weight: normal;
		text-align: center;
		@include adjust-font-size-to(62px);
		@include rhythm(3/4, 0, 0, 1/6);
	}

	.intro {
		@include adjust-font-size-to(22px);
		@include adjust-leading-to(10/9);
		@include rhythm(0, 0, 0, 1/2);

		@extend %centerColumn;
	}

	.button-wrapper {
		// @include trailing-border();
		@include rhythm(0, 1/2, 1/2, 0);
		background-color: white;
		// border-width: 1px;
		// border-color: #ccc;
		// border-color: white;
		position: -webkit-sticky;
		position:    -moz-sticky;
		position:     -ms-sticky;
		position:      -o-sticky;
		top: 0px;
		z-index: 100;

		button.title {
			background-color: white;
			border: solid white 1px;
		}

		&.noborder {
			border-color: white;
		}
	}

	button {
		color: rgb(128, 128, 128);
		background-color: #e6e6e6;
		border: solid #ccc 1px;
		font-family: $sansSerif;
		text-transform: uppercase;
		margin-left: auto;
		margin-right: auto;
		display: block;
		@include adjust-font-size-to(18px);
		padding-left: 2em;
		padding-right: 2em;
		@include rhythm(0, 1/2, 1/2, 0);
		font-weight: 100;
		letter-spacing: 2px;

		&.loadMoreStories {
			@include rhythm(0, 1/2, 1/2, 3/2);
		}
	}

	.form-wrapper {
		position: relative;
		top: 0;
		left: 0;
		right: 0;

		.form {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			@include rhythm(0, 0, 1, 1);
			@extend %centerColumn;

			textarea,
			input {
				display: block;
				@include rhythm(1, 1/4, 1/4, 1);
				background-color: #F2F2F2;
				border: solid #CCC 1px;
				color: #333;
				padding-left: (1/2)*1em;
				padding-right: (1/2)*1em;
				@include adjust-font-size-to(16px);
				font-family: $sansSerif;
			}

			textarea {
				@include rhythm(0, 1/4, 1/4, 1);
			}

			textarea,
			input {
				width: 100%;
			}

			input[name="town"],
			input[name="age"] {
				width: 50%;
			}

			.buttons {
				text-align: center;
			}

			button {
				background-color: #999;
				color: #FFF;
				border-color: #777;
				display: inline-block;
				padding-left: 1.5em;
				padding-right: 1.5em;

				&.submit {
					margin-right: 0.5em;
				}

				&.cancel {
					margin-left: 0.5em;
				}
			}
		}
	}

	.stories {
		background-color: white;
		position: relative;
		// top: -1px;
		z-index: 10;

		border-top: solid #ccc 1px;

		@include transition-property(all);
		@include transition-duration(1s);
	}

	.story {
		@include leading-border();
		border-width: 1px;
		border-color: #ccc;
		color: #999;
		@include rhythm(2, 2, 0, 0);
		@extend %centerColumn;
		overflow: hidden;

		&:first-child {
			@include leading-border(0px);
			@include rhythm(1, 0, 0, 0);
		}

		&:last-child {
			@include trailing-border();
			border-width: 1px;
			@include rhythm(2, 2, 2, 2);
		}

		.text {
			color: #333;
			@include adjust-font-size-to(18px);
			@include adjust-leading-to(10/9);
			@include rhythm(0, 0, 2/3, 0);
		}

		.image {
			@include rhythm(0, 0, 2/3, 0);
			text-align: center;
		}

		.details {

			width: 100%;
			overflow: hidden;

			p {
				@include rhythm(0, 0, 0, 0);
			}

			.name {
				font-weight: bold;
				@include adjust-font-size-to(16px);
				text-transform: uppercase;
			}

			.info {
				float: left;
			}

			.social {
				float: right;
				margin-top: 0.4em;

				button {
					background: #999;
					display: inline-block;
					margin-left: (2/3)*1em;
					height: 2em;
					width: 2em;
					border: none;
					position: relative;
					padding-left: 0em;
					padding-right: 0em;

					.wrapper {
						display: inline-block;
						width: 40%;
						height: 40%;
						position: absolute;
						top: 30%;
						left: 30%;
						background-repeat: no-repeat;
						background-position: 50%;
						background-size: contain;
					}

					&.facebook .wrapper {
						background-image: inline-image($facebook);
					}

					&.twitter .wrapper {
						background-image: inline-image($twitter);
					}

				}
			}
		}
	}
}

#main {
	margin-left: 0;
	margin-right: 0;
}

#source-and-credit {
	position: relative;
	right: 10px;
}

@include breakpoint(620px) {
	#contain {
		margin-left: 0; 
		margin-right: 0; 
		width: 100%;

		& > header,
		& > footer,
		#source-and-credit {
			width: 93.75%;
			margin-left: auto;
			margin-right: auto;
			max-width: 1232px;
		}

		#source-and-credit {
			right: 0;
		}
	}
}

@include breakpoint(670px) {
	#contain {
	}
}